/**
 * BP XProfile Multi Text Field Styles
 *
 * @package BP XProfile Multi Text Field
 * @subpackage Main
 */

.bp-user .editfield.field_type_multi_text .multi-text-input,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input,
.wp-admin.buddypress .field-group .multi_text .multi-text-input {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	margin: 0px 0px 1em;
}

.bp-user .editfield.field_type_multi_text .multi-text-input button,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input button,
.wp-admin.buddypress .field-group .multi_text .multi-text-input button {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

.bp-user .editfield.field_type_multi_text .multi-text-input button,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input button {
	width: 42px;
}

.bp-user .editfield.field_type_multi_text .multi-text-input button:before,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input button:before,
.wp-admin.buddypress .field-group .multi_text .multi-text-input button:before {
	content: '';
	display: block;
	font-family: dashicons;
	padding: 2px 4px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
}

.bp-user .editfield.field_type_multi_text .multi-text-input button.add-field:before,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input button.add-field:before,
.wp-admin.buddypress .field-group .multi_text .multi-text-input button.add-field:before {
	content: '\f132';
	margin-top: 3px;
}

.bp-user .editfield.field_type_multi_text .multi-text-input button.remove-field:before,
.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-input button.remove-field:before,
.wp-admin.buddypress .field-group .multi_text .multi-text-input button.remove-field:before {
	content: '\f158';
	margin-top: 1px;
}

@media screen and (min-width: 782px) {
	.wp-admin.buddypress .bp-profile-field.field_type_multi_text .multi-text-wrapper {
		margin-left: 200px;
	}
}
